* {
  margin: 0;
  
}


.header1 {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 20px 0;
}

.header1 .wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 45px;
}

.header1 .menu ul {
  display: flex;
  list-style: none;
  padding: 0;
}


.header2 {
  background-color: #ffffff00;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 20px 0;
}

.header2 .wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 45px;
}

.header2 .menu ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.banner {
  height: 100vh;
  background-image: url(../img/sapato.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.espaco-branco{
  padding: 4.5em;
  background-color: rgb(255, 255, 255);
  
}

.section2{
  height: 100vh;
}

/* LOGO */
.logotipo {
  width: 62px;
}

/* BARRA DE PESQUISA */
.group {
  padding-left: 120px;
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 300px;
}

.input-importante {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f5f5f5;
  color: #0d0c22;
  transition: .3s ease;
}

.input-importante::placeholder {
  color: #000000;
}

.input-importante:focus, input:hover {
  outline: none;
  border-color:  #d2d2d2;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
      padding-left: 120px;
      position: absolute;
      left: 1rem;
      fill: #000000;
      width: 1rem;
      height: 2.5rem;
}
